{% extends 'base.html' %}

{% block content %}
    {% for bid in object_list %}
        <div class="col-12">
            <div class="card-header text-center">
                <a class="btn" href="{% url 'licita_detail' bid.id %}">{{ bid }}</a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class=" col-3  ">
                        <dl>
                            <dt>Modalidade</dt>
                            <dd>{{ bid.modality }}</dd>
                        </dl>
                    </div>
                    <div class="col-3">
                        <dl>
                            <dt>Nº Edital</dt>
                            <dd>{{bid.edital}}</dd>
                        </dl>
                    </div>
                    <div class="col-3">
                        <dl>
                            <dt>Data do Certame</dt>
                            <dd>{{ bid.data_validade }}</dd>
                        </dl>
                    </div>
                    <div class="col-3">
                        <dl>
                            <dt>Orgão</dt>
                            <dd>{{ bid.public_body }}</dd>
                        </dl>
                    </div>
                    <div class="col-12">
                        <dl>
                            <dt>Objeto</dt>
                            <dd>{{bid.objeto}}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}